body {
  font: 17px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


#theMap {
	width:960px;
	height:600px;
}

#backgroundImage {
	position: absolute;
	left: 10px;
	top: 20px;
	width:960px;
	height:600px;
	background-image:url('../src/res/forgotten_city.jpg');
}

#unitsLayer {
	position: absolute;
	left: 20px;
	top: 40px;
	width:920px;
	height:560px;
}

#grid {
	position: absolute;
	left: 20px;
	top: 40px;
	width:920px;
	height:560px;
}

.sourceImg {
	display: none;
}