body {
  font: 17px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


#theMap {
	position: absolute;
	width:960px;
	height:65%;
	
}

#backgroundImage {
	position: fixed;
	left: 10px;
	top: 20px;
	width:960px;
	height:70%;
	background-image:url('../src/res/forgotten_city.jpg');
}

#unitsLayer {
	position: fixed;
	left: 20px;
	top: 80px;
	width:920px;
	height:560px;
	user-select: none;
}

#grid {
	position: fixed;
	left: 20px;
	top: 80px;
	width:920px;
	height:560px;
	user-select: none;
}

#bottom-panel {
	position: absolute;
	width:960px;
	height:25%;
	background-color:  #ccffcc;
	bottom: 20px;
	
}

.sourceImg {
	display: none;
}